<!DOCTYPE html>
<html lang="en">
<head>
    {% include "home/include/header.html" %}
</head>
<body>
<li>
    <a href="/home/patient">
        Patient List
    </a>
    </li>
<li>
    <a href="/home/doctor">
        Doctor List
    </a></li>
<li>
    <a href="/home/nurse">
        Nurse List
    </a>
</li>
<li>
    <a href="/home/administrator">
        Administrator List
    </a>
</li>
<li>
    <a href="/home/activities">
        Activity List
    </a>
</li>
<li>
    <a href="/home/appointment">
        Create Appointment
    </a>
</li>
</body>
</html>