<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nurses</title>
    {% include "home/include/header.html" %}
</head>
<body>
{% if user.is_authenticated %}
<h2>Nurse List:</h2>
{% if nurse_list %}
    <ul>
        {% for nurse in nurse_list %}
        <li><a href="{% url 'home:nDetail' nurse.id %}">
            {{nurse.user.username}}</a>
        </li>
        {% endfor %}
    </ul>
{%else%}
    <p> No Nurses available</p>
{% endif %}

{% else %}
You must login or register to view this page<br/>
<button onclick="window.location. href='{% url 'home:register' %}'">
        Register New User Patient
</button><br/>
{% endif %}
<button onclick="window.location.href='/home'">
    return
</button>
</body>
</html>
